
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    //- <!-- <title>Welcome to my dance club</title> -->
    <title>#{title}</title>
     style
        include style.css
</head>
<body>
 <nav>
    <ul>
    
    
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li> <a href="">Contact us</a></li>
        <li> <a href ="">Services</a></li>
        <li> <a href=""> More </a>/<li>
    </ul>
</nav>

       <Section id="introsection">
         h1 Welcome To Kasif Dance Academy 
       
          
    
       
       </Section>

       
       <Section id="ourmission">
       h1 Our Mission 
  


       
       <div class="card">
         h3 Dance Perfection Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae enim odio et, ullam tenetur adipisci facere rerum ipsum, dolorem libero voluptas laudantium quae, recusandae illum ipsa porro fugit consequuntur corporis!
       </div>



       <div class="card">
         h3 Dance the way you like Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt in repellat illo nostrum perferendis quisquam dolore unde at dolores minima veniam laudantium impedit maiores quaerat magni saepe, architecto officia laborum.
       </div>




       <div class="card">
         h3  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque asperiores accusantium ipsa nobis aspernatur reprehenderit? Odio, voluptates rerum, commodi, repudiandae distinctio necessitatibus culpa cum repellat inventore deleniti delectus modi aspernatur!
       </div>

            </section>




      
       

       <Section id="sponsorsection">
       h1 Our Sponsor
       <div id="sponsor">
        <img src="/static/microsoft.webp", class="spimage">
        <img src="/static/logo1.png", class="spimage">
        <img src="/static/logo3.png", class="spimage">
        <img src="/static/in.png", class="spimage">
       </div>
       <Section>

       <footer id="footer">
       <h1>Copyright 2023 kasifdanceacademy.com | All Right Reserved</h1>
       </footer>
       

  
</body>
</html>